<?xml version='1.0' encoding='utf-8'?>
<plugin id="awsca" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>awsca</name><js-module name="awsca" src="www/awsca.js"><clobbers target="cordova.plugins.awsca" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="awsca"><param name="android-package" value="awsca.awsca" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/awsca.java" target-dir="src/awsca/awsca" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="awsca"><param name="ios-package" value="awsca" /></feature></config-file><source-file src="src/ios/awsca.m" /></platform></plugin>